body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 760px;
    position: relative;
}

.container {
    margin-left: 20%; 
}

.search {
    display: flex;
    align-items: center;
}

.search_name {
    max-height: 50px;
    position: absolute;
    left: 0;
}

.search_img {
    min-width: 130px;
    font-size: 38px;
    font-weight: bold;
    color: rgb(20, 20, 20);
}

.search_name::first-letter {
    color: rgb(175, 0, 0);
}

.search_input {
    box-sizing: border-box;
    width: 100%;
    max-height: 50px;
    padding: 10px; 
    font-size: 24px;
    border-radius: 10px;
    z-index: 2;
    border: 2px solid #FFC93D;
}

.search_input:focus {
    outline: none;
}

.search_input::placeholder {
    font-size: 20px;
}

.search_btn {
    width: 120px;
    height: 50px;
    padding: 0 20px;
    background-color: #FFC93D;
    border: none;
    border-left: 20px solid #FFC93D;
    border-radius: 10px;
    font-size: 20px;
    margin-left: -25px;
    cursor: pointer;
}

.message_primary {
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 10px;
}

.message_link,  .message_link:visited, .message_link:active, .message_link:hover,
.platforms_link, .platforms_link:visited, .platforms_link:active, .platforms_link:hover {
    color: #0054b9;
}

.platforms_linki {
    font-size: 0;
}

.platforms {
    margin-top: 40px;
}

.platforms_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.platforms_li {
    min-width: 49%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.platforms_figure {
    display: flex;
    align-items: center;
}

.footer {
    width: 100%;
    margin-top: -40px;
}

.navbar {
    display: block;
    max-width: 760px;
    margin: 0 auto;
}

.navbar_ul {
    min-height: 40px;
}

.navbar_li {
    display: inline;
    margin-right: 5%;
}

.navbar_link, .navbar_link:visited, .navbar_link:active, .navbar_link:hover {
    color:rgb(150, 150, 150);
}